<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idat.farmacias">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Farmacias">

        <activity
            android:name=".activities.ListadoMedicamentosActivity"
            android:label="@string/title_activity_listado_medicamentos"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ListadoDevsActivity"
            android:label="@string/listado_devs_title"
            android:parentActivityName=".activities.MainActivity"/>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BienvenidaActivity"
            android:label="Bienvenido"
            android:parentActivityName=".activities.LoginActivity"/>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.MainActivity"
            android:label="Menú principal"/>
        <activity
            android:name=".activities.DetalleMedicamentoActivity"
            android:label="Detalle de medicamento"
            android:parentActivityName=".activities.ListadoMedicamentosActivity"/>
    </application>
</manifest>